<div id="{{sectionId}}" class="hide">
  <div class="close_ico"><img src="{{asset('images/icons8-close-button-filled-50.png')}}"></div>
  <h2>{{title}}</h2>
  <form id="{{formId}}">
    <div class="form_row">
      <label for="{{dateId}}">Purchase date: </label>
      <input type="text" name="{{dateName}}" id="{{dateId}}">
    </div>
    <div class="form_row">
      <label for="{{descriptionId}}">Description: </label>
      <textarea type="text" id="{{descriptionId}}" name="{{descriptionId}}"></textarea>
    </div>
    <div class="form_row">
      <label for="{{weightId}}">Weight: </label>
      <input type="text" id="{{weightId}}" name="{{weightId}}">
    </div>
    <div class="form_row">
      <label for="{{priceId}}">Price: </label>
      <input type="text" id="{{priceId}}" name="{{priceId}}">
    </div>
    <div class="form_row">
      <label for="{{quantityId}}">Quantity: </label>
      <input type="text" id="{{quantityId}}" name="{{quantityId}}">
    </div>
    <div class="form_row">
      <label for="{{commentId}}">Comment: </label>
      <textarea type="text" id="{{commentId}}" name="{{commentId}}"></textarea>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{productId}}">Start type product's name: </label>
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{productId}}">Product's name: </label>
      {% endif %}
      <input data-id ="0" autocomplete="off" type="text" name="{{productId}}" id="{{productId}}">
      <ul class="product_list list_hint">
      </ul>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{typeExpenseId}}">Start type type expense: </label>
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{typeExpenseId}}">Type of expense: </label>
      {% endif %}
      <input data-id ="0" autocomplete="off" type="text" name="{{typeExpenseId}}" id="{{typeExpenseId}}">
      <ul class="type_expense_list list_hint">
      </ul>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{paymentMethodId}}">Start type payment method: </label>
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{paymentMethodId}}">Payment method: </label>
      {% endif %}
      <input data-id ="0" autocomplete="off" type="text" name="{{paymentMethodId}}" id="{{paymentMethodId}}">
      <ul class="payment_method_list list_hint">
      </ul>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{expenseCategoryId}}">Start type expense category: </label>
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{expenseCategoryId}}">Expense category: </label>
      {% endif %}
      <input data-id ="0" autocomplete="off" type="text" name="{{expenseCategoryId}}" id="{{expenseCategoryId}}">
      <ul class="expense_category_list list_hint">
      </ul>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
          <label for="{{purchasePlaceId}}">Start type purchase place: </label>
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{purchasePlaceId}}">Purchase place: </label>
      {% endif %}
      <input data-id ="0" autocomplete="off" type="text" name="{{purchasePlaceId}}" id="{{purchasePlaceId}}">
      <ul class="purchase_place_list list_hint">
      </ul>
    </div>
    {% if sameShopping == true %}
    <div class="form_row">
      <label for="same_shopping">Same shoppping?</label>
      <input type="checkbox" name="same_shopping" value="1" id="same_shopping" checked>
    </div>
    {% endif %}
    {% if mode == "edit" %}
      <input type="hidden" name="edit_expenseId" id="edit_expenseId" value="" />
    {% endif %}
    <div class="form_row">
      <input type="submit" name="{{submit}}" value="{{submit}}">
    </div>
  </form>
  {% if mode == "create" %}
    <div id="create_result_area"></div>
  {% endif %}
  {% if mode == "edit" %}
    <div id="edit_result_area"></div>
  {% endif %}
</div>
