<div id="{{sectionId}}" class="hide">
  <div class="close_ico"><img src="{{asset('images/icons8-close-button-filled-50.png')}}"></div>
  <h2>{{title}}</h2>
  <form id="{{formId}}">
    <div class="form_row">
      <label for="{{dateId}}">Purchase date: </label>
      <input type="text" name="{{dateName}}" id="{{dateId}}">
    </div>
    <div class="form_row">
      <label for="{{descriptionId}}">Description: </label>
      <input type="text" id="{{descriptionId}}" name="{{descriptionId}}">
    </div>
    <div class="form_row">
      <label for="{{weightId}}">Weight: </label>
      <input type="text" id="{{weightId}}" name="{{weightId}}">
    </div>
    <div class="form_row">
      <label for="{{priceId}}">Price: </label>
      <input type="text" id="{{priceId}}" name="{{priceId}}">
    </div>
    <div class="form_row">
      <label for="{{quantityId}}">Quantity: </label>
      <input type="text" id="{{quantityId}}" name="{{quantityId}}">
    </div>
    <div class="form_row">
      <label for="{{commentId}}">Comment: </label>
      <input type="text" id="{{commentId}}" name="{{commentId}}">
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{productId}}">Start type product's name: </label>
        <input type="text" name="{{productId}}" id="{{productId}}">
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{productId}}">Product's name: </label>
      {% endif %}
      <select id="{{selectProductId}}">
        <option value="0">Create new</option>
        {% for product in products %}
          <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{typeExpenseId}}">Start type type expense: </label>
        <input type="text" name="{{typeExpenseId}}" id="{{typeExpenseId}}">
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{typeExpenseId}}">Type of expense: </label>
      {% endif %}
      <select id="{{selectTypExpenseId}}">
        <option value="0">Create new</option>
        {% for type in expenseType %}
          <option value="{{ type.id }}">{{ type.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{paymentMethodId}}">Start type payment method: </label>
        <input type="text" name="{{paymentMethodId}}" id="{{paymentMethodId}}">
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{paymentMethodId}}">Payment method: </label>
      {% endif %}
      <select id="{{selectPaymentMethodId}}">
        <option value="0">Create new</option>
        {% for payment in paymentMethod %}
          <option value="{{ payment.id }}">{{ payment.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row">
      {% if mode == "create" %}
        <label for="{{expenseCategoryId}}">Start type expense category: </label>
        <input type="text" name="{{expenseCategoryId}}" id="{{expenseCategoryId}}">
      {% endif %}
      {% if mode == "edit" %}
        <label for="{{expenseCategoryId}}">Expense category: </label>
      {% endif %}
      <select id="{{selectExpenseCategoryId}}">
        <option value="0">Create new</option>
        {% for expenseCat in expenseCategory %}
          <option value="{{ expenseCat.id }}">{{ expenseCat.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form_row">
    {% if mode == "create" %}
        <label for="{{purchasePlaceId}}">Start type purchase place: </label>
        <input type="text" name="{{purchasePlaceId}}" id="{{purchasePlaceId}}">
    {% endif %}
    {% if mode == "edit" %}
      <label for="{{purchasePlaceId}}">Purchase place: </label>
    {% endif %}
      <select id="{{selectPurchasePlace}}">
        <option value="0">Create new</option>
        {% for place in purchasePlace %}
          <option value="{{ place.id }}">{{ place.name }}</option>
        {% endfor %}
      </select>
    </div>
    {% if sameShopping == true %}
    <div class="form_row">
      <label for="same_shopping">Same shoppping?</label>
      <input type="checkbox" name="same_shopping" value="1" id="same_shopping" checked>
    </div>
    {% endif %}
    {% if mode == "edit" %}
      <input type="hidden" name="edit_expenseId" id="edit_expenseId" value="" />
    {% endif %}
    <div class="form_row">
      <input type="submit" name="{{submit}}" value="{{submit}}">
    </div>
  </form>
  {% if mode == "create" %}
    <div id="create_result_area"></div>
  {% endif %}
  {% if mode == "edit" %}
    <div id="edit_result_area"></div>
  {% endif %}
</div>
