<span class="filter_tool"><img src="{{asset('images/icons8-filter-50.png')}}" title="Show Filter"></span>
<span class="add_tool"><img src="{{asset('images/icons8-plus-50.png')}}" title="Create Expense"></span>
<div class="filter_section hide">
  <h2>Search filter</h2>
  <p>Please select criteria in order to display expenses</p>
  <form id="criteria_form">
    <div class="close_ico_filter"><img src="{{asset('images/icons8-close-button-filled-50.png')}}"></div>
    <div class="basic_section_filter">
      <div>
        <label for="datepicker1">From date:</label>
        <input type="text" name="from_date" id="datepicker1">
      </div>
      <div>
        <label for="datepicker2">To date:</label>
        <input type="text" name="to_date" id="datepicker2">
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
      </div>
      <div>
        <label for="weight_min">Weight min:</label>
        <input type="text" name="weight_min" id="weight_min">
      </div>
      <div>
        <label for="weight_max">Weight max:</label>
        <input type="text" name="weight_max" id="weight_max">
      </div>
      <div>
        <label for="price_min">Price min:</label>
        <input type="text" name="price_min" id="price_min">
      </div>
      <div>
        <label for="price_max">Price max:</label>
        <input type="text" name="price_max" id="price_max">
      </div>
      <div>
        <label for="quantity_min">Quantity min:</label>
        <input type="text" name="quantity_min" id="quantity_min">
      </div>
      <div>
        <label for="quantity_max">Quantity max:</label>
        <input type="text" name="quantity_max" id="quantity_max">
      </div>
      <div>
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment">
      </div>
    </div>
    <div class="extended_section_filter">
      <div>Products:</div>
      {% for product in products %}
        <div>
          <input type="checkbox" name="product[]" value="{{ product.id }}" >
          <label>{{ product.name }}</label>
        </div>
      {% endfor %}
    </div>
    <div class="extended_section_filter">
    <div>Type of expense:</div>
      {% for type in expenseType %}
        <div>
          <input type="checkbox" name="expense_type[]" value="{{ type.id }}" >
          <label>{{ type.name }}</label>
        </div>
      {% endfor %}
    </div>
    <div class="extended_section_filter">
      <div>Payment Method:</div>
      {% for payment in paymentMethod %}
        <div>
          <input type="checkbox" name="payment[]" value="{{ payment.id }}" >
          <label>{{ payment.name }}</label>
      </div>
      {% endfor %}
    </div>
    <div class="extended_section_filter">
      <div>Expense Category:</div>
      {% for expenseCat in expenseCategory %}
        <div>
          <input type="checkbox" name="expense_category[]" value="{{ expenseCat.id }}" >
          <label>{{ expenseCat.name }}</label>
        </div>
      {% endfor %}
    </div>
    <div class="extended_section_filter">
      <div>Purchase Place:</div>
      {% for place in purchasePlace %}
        <div>
          <input type="checkbox" name="place[]" value="{{ place.id }}" >
          <label>{{ place.name }}</label>
        </div>
      {% endfor %}
    </div>
    <div>Order and order direction:</div>
    <div>
      <select id="select_order">
        <option value="purchase_date">Purchase date</option>
        <option value="product">Product</option>
        <option value="description">Description</option>
        <option value="weight">Weight</option>
        <option value="price">Price</option>
        <option value="quantity">Quantity</option>
        <option value="totalprice">Total price</option>
        <option value="paymentmethod">Payment method</option>
        <option value="categoryofexpense">Category of expense</option>
        <option value="typeofexpense">Type of expense</option>
        <option value="place">Place</option>
        <option value="comment">Comment</option>
      </select>
      <select id="select_order_direction">
        <option value="ASC">ASC</option>
        <option value="DESC">DESC</option>
      </select>
    </div>
    <div class="submit_section_filter">
      <input type="submit" name="Show" value="Show">
    </div>
  </form>
</div>
<div id="result_append_section">
  <table>
    <tbody>
      <tr class="table_header">
        <th>l.p.</th>
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Purchase date', 'headerClass': 'date_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Product', 'headerClass': 'product_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Description', 'headerClass': 'description_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Weight', 'headerClass': 'weight_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Price', 'headerClass': 'price_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Quantity', 'headerClass': 'quantity_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Total price', 'headerClass': 'totalprice_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Type of expense', 'headerClass': 'typeofexpense_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Payment method', 'headerClass': 'paymentmethod_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Category of expense', 'headerClass': 'categoryofexpense_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Place', 'headerClass': 'place_sort'}) }}
        {{ include('Expense/tableResultHeaders.html.twig', { 'headerName': 'Comment', 'headerClass': 'comment_sort'}) }}
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </tbody>
  </table>
</div>
<div id="calculations"></div>
