<th>{{headerName}}
  <span class="column_header {{headerClass}}">
    <img src="{{asset('images/icons8-sort-filled-50.png')}}" class="updownarrows">
    <img src="{{asset('images/icons8-sort-down-filled-50.png')}}" class="downarrows hide_arrows">
    <img src="{{asset('images/icons8-sort-up-filled-50.png')}}" class="uparrows hide_arrows">
  </span>
</th>
