<html>
  <head>
    <link rel="stylesheet" href="{{asset('css/datepicker/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('css/datepicker/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <script src="{{ asset('js/datepicker/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('js/datepicker/jquery-ui.js') }}"></script>
  </head>
  <body>
    <h1>Your expenses</h1>
    {{ include('expense/filterTool.html.twig', { 'products': products, 'expenseType': expenseType, 'paymentMethod': paymentMethod, 'expenseCategory' : expenseCategory, 'purchasePlace': purchasePlace }) }}
    {{ include('expense/createForm.html.twig', { 'products': products, 'expenseType': expenseType, 'paymentMethod': paymentMethod, 'expenseCategory' : expenseCategory, 'purchasePlace': purchasePlace }) }}
    <script src="{{ asset('js/main.js') }}"></script>
  </body>
</html>
