<html>
  <head>
  <link rel="stylesheet" href="{{asset('css/datepicker/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{asset('css/datepicker/style.css')}}">
  </head>
  <body>
    <h1>Your expenses</h1>
	<h2>Search filter</h2>	
    <p>Please select criteria in order to display expenses</p>
    <script src="{{ asset('js/datepicker/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('js/datepicker/jquery-ui.js') }}"></script>
    <form id="criteria_form">
      From date: <input type="text" name="from_date" id="datepicker1"><br />
      To date: <input type="text" name ="to_date" id="datepicker2"><br />
	  Description: <input type="text" id="description" name="description"><br />
	  Weight min: <input type="text" id="weight_min" name="weight_min"><br />
	  Weight max: <input type="text" id="weight_max" name="weight_max"><br />
	  Price min: <input type="text" id="price_min" name="price_min"><br />
	  Price max: <input type="text" id="price_max" name="price_max"><br />
	  Quantity min: <input type="text" id="quantity_min" name="quantity_min"><br />
	  Quantity max: <input type="text" id="quantity_max" name="quantity_max"><br />
	  Comment: <input type="text" id="comment" name="comment"><br />
	  Products: <br />
	  {% for product in products %}
			<input type="checkbox" name="product[]" value="{{ product.id }}" > {{ product.name }}  <br />
	  {% endfor %}
	  Type of expense: <br />
	  {% for type in expenseType %}
			<input type="checkbox" name="expense_type[]" value="{{ type.id }}" > {{ type.name }}  <br />
	  {% endfor %}
	  Payment Method: <br />
	  {% for payment in paymentMethod %}
			<input type="checkbox" name="payment[]" value="{{ payment.id }}" > {{ payment.name }}  <br />
	  {% endfor %}
	  Expense Category: <br />
	  {% for expenseCat in expenseCategory %}
			<input type="checkbox" name="expense_category[]" value="{{ expenseCat.id }}" > {{ expenseCat.name }}  <br />
	  {% endfor %}
	  Purchase Place: <br />
	  {% for place in purchasePlace %}
			<input type="checkbox" name="place[]" value="{{ place.id }}" > {{ place.name }}  <br />
	  {% endfor %}
	  
			
      <input type="submit" name="Show" value="Show">
	  
    </form>
	<div id="result_append_section"></div>
    <script>
      $( function() {
        $( "#datepicker1" ).datepicker();
          $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
      $( function() {
        $( "#datepicker2" ).datepicker();
          $( "#datepicker2" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
	  $( function() {
        $( "#datepicker3" ).datepicker();
          $( "#datepicker3" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
    </script>
    <script>
      $("#criteria_form").submit(function(e){
        e.preventDefault();
		var data = {};
		if($("#datepicker1").val() != "") {
			data.from_date = $("#datepicker1").val();
		}
		if($("#datepicker2").val() != "") {
			data.to_date = $("#datepicker2").val();
		}
		if($("#description").val() != "") {
			data.description = $("#description").val();
		}
		if($("#weight_min").val() != "") {
			data.weight_min = $("#weight_min").val();
		}
		if($("#weight_max").val() != "") {
			data.weight_max = $("#weight_max").val();
		}
		if($("#price_min").val() != "") {
			data.price_min = $("#price_min").val();
		}
		if($("#price_max").val() != "") {
			data.price_max = $("#price_max").val();
		}
		if($("#quantity_min").val() != "") {
			data.quantity_min = $("#quantity_min").val();
		}
		if($("#quantity_max").val() != "") {
			data.quantity_max = $("#quantity_max").val();
		}
		if($("#comment").val() != "") {
			data.comment = $("#comment").val();
		}
		var products_checkboxes= new Array();
		$.each($("input[name='product[]']:checked"), function() {
			products_checkboxes.push($(this).val());
		});
		data.product = products_checkboxes;
		var expensetype_checkboxes= new Array();
		$.each($("input[name='expense_type[]']:checked"), function() {
			expensetype_checkboxes.push($(this).val());
		});
		data.expense_type = expensetype_checkboxes;
		var paymentMethod_checkboxes= new Array();
		$.each($("input[name='payment[]']:checked"), function() {
			paymentMethod_checkboxes.push($(this).val());
		});
		data.payment = paymentMethod_checkboxes;
		var expenseCategory_checkboxes= new Array();
		$.each($("input[name='expense_category[]']:checked"), function() {
			expenseCategory_checkboxes.push($(this).val());
		});
		data.expense_category = expenseCategory_checkboxes;
		var purchasePlace_checkboxes= new Array();
		$.each($("input[name='place[]']:checked"), function() {
			purchasePlace_checkboxes.push($(this).val());
		});
		data.place = purchasePlace_checkboxes;
		
		$.ajax({
		  method: "POST",
		  url: "/expense/show",
		  data
		})
		.done(function( msg ) {
			if(msg.status == "ok") {
				var results = msg.content;
				var string_result = "<table><tbody><tr><th>l.p.</th><th>Purchase date</th><th>Product</th><th>Description</th><th>Weight</th><th>Price</th><th>Quantity</th><th>Total price</th><th>Type of expense</th><th>Payment method</th><th>Category of expense</th><th>Place</th><th>Comment</th></tr>";
				for(var i = 0; i < results .length; i++) {				
					var id = results[i][0].id;				
					var date = results[i][0].purchaseDate;
					var format_date = date.substring(0, 10);
					var product_id = results[i][0].productId.id;
					var product = results[i][0].productId.name;				
					var description = results[i][0].description;
					var weight = results[i][0].weight;
					var price = results[i][0].price;
					var quantity = results[i][0].quantity;
					var total_price = results[i].total_price;
					var type_of_expense_id = results[i][0].typeOfExpenseId.id;
					var type_of_expense = results[i][0].typeOfExpenseId.name;
					var payment_method_id = results[i][0].paymentMethodId.id;
					var payment_method= results[i][0].paymentMethodId.name;
					var category_of_expense_id = results[i][0].categoryOfExpenseId.id;
					var category_of_expense = results[i][0].categoryOfExpenseId.name;
					var place_id = results[i][0].placeId.id;
					var place = results[i][0].placeId.name;
					var comment = results[i][0].comment;
					var counter = i + 1;
					string_result += "<tr><td>" + counter  + "</td><td>" + format_date + "</td><td>" + product + "</td><td>" + description + "</td><td>" + weight + "</td><td>" + price + "</td><td>" + quantity + "</td><td>" + total_price + "</td><td>" + type_of_expense + "</td><td>" + payment_method + "</td><td>" + category_of_expense + "</td><td>" + place + "</td><td>" + comment + "</td></tr>";
					
				}
				string_result += "</tbody></table>";
				$("#result_append_section").empty();
				$(string_result).appendTo("#result_append_section");
			}
		});
		
		
		
      });
    </script>
	<div id="create_new">
		<h2>Create expense</h2>
		<form id="create_expense">
			Purchase date: <input type="text" name="create_purchase_date" id="datepicker3"><br />
			Description: <input type="text" id="create_description" name="create_description"><br />
			Weight: <input type="text" id="create_weight" name="create_weight"><br />
			Price: <input type="text" id="create_price" name="create_price"><br />
			Quantity: <input type="text" id="create_quantity" name="create_quantity"><br />
			Comment: <input type="text" id="create_comment" name="create_comment"><br />
			Start type product's name: <input type="create_product" name="create_product" id="create_product">
			<select id="select_product">
				<option value="0">Create new</option>
				{% for product in products %}
					<option value="{{ product.id }}">{{ product.name }}</option>
				{% endfor %}
			</select><br />	
			Start type type expense: <input type="create_type_expense" name="create_type_expense" id="create_type_expense">
			<select id="select_type_expense">
				<option value="0">Create new</option>
				{% for type in expenseType %}
					<option value="{{ type.id }}">{{ type.name }}</option>
				{% endfor %}
			</select><br />
			Start type payment method: <input type="create_payment_method" name="create_payment_method" id="create_payment_method">
			<select id="select_payment_method">
				<option value="0">Create new</option>
				{% for payment in paymentMethod %}
					<option value="{{ payment.id }}">{{ payment.name }}</option>
				{% endfor %}
			</select><br />
			Start type expense category: <input type="create_expense_category" name="create_expense_category" id="create_expense_category">
			<select id="select_expense_category">
				<option value="0">Create new</option>
				{% for expenseCat in expenseCategory %}
					<option value="{{ expenseCat.id }}">{{ expenseCat.name }}</option>
				{% endfor %}
			</select><br />
			Start type purchase place: <input type="create_purchase_place" name="create_purchase_place" id="create_purchase_place">
			<select id="select_purchase_place">
				<option value="0">Create new</option>
				{% for place in purchasePlace %}
					<option value="{{ place.id }}">{{ place.name }}</option>
				{% endfor %}
			</select><br />
		</form>
	</div>
	
	<script>
		var product_list = $('#select_product').html();
		$("#create_product").keypress(function(){
			var product_string_name = $("#create_product").val();
			if(product_string_name.length > 1) {
				$.ajax({
					  method: "POST",
					  url: "/product/search",
					  data : {name : $("#create_product").val()}
				}).done(function(msg){
					if(msg.status == "ok") {
						var results = msg.content;
						$('#select_product').empty();
						$( '<option value="0">Create new</option>' ).appendTo( "#select_product" );
						for(var i = 0; i < results.length; i++) {
							var id = results[i].id;				
							var productName = results[i].name;
							$( '<option value="' + id + '">' + productName + '</option>' ).appendTo( "#select_product" );
						}
					}
				});
			}					
		});
		$("#select_product").change(function(){
			$('#create_product').val($('#select_product option:selected').text());
		});	
		$('#create_product').on('input', function(){
			if($("#create_product").val() == "") {
					$('#select_product').html(product_list);
			}	
		});	
	</script>
	
  </body>
</html>
