<html>
  <head>
    <link rel="stylesheet" href="{{asset('css/datepicker/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('css/datepicker/style.css')}}">
  </head>
  <body>
    <h1>Your expenses</h1>
    <h2>Search filter</h2>
    <p>Please select criteria in order to display expenses</p>
    <script src="{{ asset('js/datepicker/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('js/datepicker/jquery-ui.js') }}"></script>
    <form id="criteria_form">
      From date: <input type="text" name="from_date" id="datepicker1"><br />
      To date: <input type="text" name ="to_date" id="datepicker2"><br />
  	  Description: <input type="text" id="description" name="description"><br />
  	  Weight min: <input type="text" id="weight_min" name="weight_min"><br />
  	  Weight max: <input type="text" id="weight_max" name="weight_max"><br />
  	  Price min: <input type="text" id="price_min" name="price_min"><br />
  	  Price max: <input type="text" id="price_max" name="price_max"><br />
  	  Quantity min: <input type="text" id="quantity_min" name="quantity_min"><br />
  	  Quantity max: <input type="text" id="quantity_max" name="quantity_max"><br />
  	  Comment: <input type="text" id="comment" name="comment"><br />
  	  Products: <br />
  	  {% for product in products %}
  			<input type="checkbox" name="product[]" value="{{ product.id }}" > {{ product.name }}  <br />
  	  {% endfor %}
  	  Type of expense: <br />
  	  {% for type in expenseType %}
  			<input type="checkbox" name="expense_type[]" value="{{ type.id }}" > {{ type.name }}  <br />
  	  {% endfor %}
  	  Payment Method: <br />
  	  {% for payment in paymentMethod %}
  			<input type="checkbox" name="payment[]" value="{{ payment.id }}" > {{ payment.name }}  <br />
  	  {% endfor %}
  	  Expense Category: <br />
  	  {% for expenseCat in expenseCategory %}
  			<input type="checkbox" name="expense_category[]" value="{{ expenseCat.id }}" > {{ expenseCat.name }}  <br />
  	  {% endfor %}
  	  Purchase Place: <br />
  	  {% for place in purchasePlace %}
  			<input type="checkbox" name="place[]" value="{{ place.id }}" > {{ place.name }}  <br />
  	  {% endfor %}
      Order and order direction: <br />
      <select id="select_order">
        <option value="purchase_date">Purchase date</option>
        <option value="price">price</option>
      </select>
      <select id="select_order_direction">
        <option value="ASC">ASC</option>
        <option value="DESC">DESC</option>
      </select><br />
      <input type="submit" name="Show" value="Show">
    </form>
	<div id="result_append_section"></div>
    <script>
      $( function() {
        $( "#datepicker1" ).datepicker();
          $( "#datepicker1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
      $( function() {
        $( "#datepicker2" ).datepicker();
          $( "#datepicker2" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
	  $( function() {
        $( "#datepicker3" ).datepicker();
          $( "#datepicker3" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } );
    </script>
    <script>
      $("#criteria_form").submit(function(e){
        e.preventDefault();
    		var data = {};
    		if($("#datepicker1").val() != "") {
    			data.from_date = $("#datepicker1").val();
    		}
    		if($("#datepicker2").val() != "") {
    			data.to_date = $("#datepicker2").val();
    		}
    		if($("#description").val() != "") {
    			data.description = $("#description").val();
    		}
    		if($("#weight_min").val() != "") {
    			data.weight_min = $("#weight_min").val();
    		}
    		if($("#weight_max").val() != "") {
    			data.weight_max = $("#weight_max").val();
    		}
    		if($("#price_min").val() != "") {
    			data.price_min = $("#price_min").val();
    		}
    		if($("#price_max").val() != "") {
    			data.price_max = $("#price_max").val();
    		}
    		if($("#quantity_min").val() != "") {
    			data.quantity_min = $("#quantity_min").val();
    		}
    		if($("#quantity_max").val() != "") {
    			data.quantity_max = $("#quantity_max").val();
    		}
    		if($("#comment").val() != "") {
    			data.comment = $("#comment").val();
    		}
    		var products_checkboxes= new Array();
    		$.each($("input[name='product[]']:checked"), function() {
    			products_checkboxes.push($(this).val());
    		});
    		data.product = products_checkboxes;
    		var expensetype_checkboxes= new Array();
    		$.each($("input[name='expense_type[]']:checked"), function() {
    			expensetype_checkboxes.push($(this).val());
    		});
    		data.expense_type = expensetype_checkboxes;
    		var paymentMethod_checkboxes= new Array();
    		$.each($("input[name='payment[]']:checked"), function() {
    			paymentMethod_checkboxes.push($(this).val());
    		});
    		data.payment = paymentMethod_checkboxes;
    		var expenseCategory_checkboxes= new Array();
    		$.each($("input[name='expense_category[]']:checked"), function() {
    			expenseCategory_checkboxes.push($(this).val());
    		});
    		data.expense_category = expenseCategory_checkboxes;
    		var purchasePlace_checkboxes= new Array();
    		$.each($("input[name='place[]']:checked"), function() {
    			purchasePlace_checkboxes.push($(this).val());
    		});
    		data.order = $("#select_order").val();
        data.order_direction = $("#select_order_direction").val();
    		data.place = purchasePlace_checkboxes;

    		$.ajax({
    		  method: "POST",
    		  url: "/expense/show",
    		  data
    		}).done(function( msg ) {
          if(msg.status == "ok") {
	        var results = msg.content;
		      var string_result = "<table><tbody><tr><th>l.p.</th><th>Purchase date</th><th>Product</th><th>Description</th><th>Weight</th><th>Price</th><th>Quantity</th><th>Total price</th><th>Type of expense</th><th>Payment method</th><th>Category of expense</th><th>Place</th><th>Comment</th><th>Edit</th><th>Delete</th></tr>";
		      for(var i = 0; i < results .length; i++) {
  					var id = results[i][0].id;
  					var date = results[i][0].purchaseDate;
  					var format_date = date.substring(0, 10);
  					var product_id = results[i][0].productId.id;
  					var product = results[i][0].productId.name;
  					var description = results[i][0].description;
  					var weight = results[i][0].weight;
  					var price = results[i][0].price;
  					var quantity = results[i][0].quantity;
  					var total_price = results[i].total_price;
  					var type_of_expense_id = results[i][0].typeOfExpenseId.id;
  					var type_of_expense = results[i][0].typeOfExpenseId.name;
  					var payment_method_id = results[i][0].paymentMethodId.id;
  					var payment_method= results[i][0].paymentMethodId.name;
  					var category_of_expense_id = results[i][0].categoryOfExpenseId.id;
  					var category_of_expense = results[i][0].categoryOfExpenseId.name;
  					var place_id = results[i][0].placeId.id;
  					var place = results[i][0].placeId.name;
  					var comment = results[i][0].comment;
  					var counter = i + 1;
  					string_result += "<tr><td>" + counter  + "</td><td>" + format_date + "</td><td>" + product + "</td><td>" + description + "</td><td>" + weight + "</td><td>" + price + "</td><td>" + quantity + "</td><td>" + total_price + "</td><td>" + type_of_expense + "</td><td>" + payment_method + "</td><td>" + category_of_expense + "</td><td>" + place + "</td><td>" + comment + "</td>" + "<td><input type=\"radio\" name=\"edit\" value=\"" + id + "\"></td>" + "<td><input type=\"checkbox\" name=\"delete_checkbox\" value=\"" + id + "\"></td></tr>";
		      }
          string_result += "<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button type=\"button\">Edit</button></td><td><button type=\"button\" id=\"delete_button\">Delete</button></td>";
  				string_result += "</tbody></table>";
  				$("#result_append_section").empty();
  				$(string_result).appendTo("#result_append_section");
          $(document).trigger("expenseTableButtonsReady");
	      }
		  });
    });
  </script>
  <script>
    $(document).on("expenseTableButtonsReady", function(){
      $('#delete_button').click(function(){
        var ids = [];
        $('input[name=delete_checkbox]:checked').each(function(){
          /*if(ids == "") {
            ids += $(this).val();
          } else {
            ids += ", " + $(this).val();
          }*/
          ids.push($(this).val());
        });
        $.ajax({
            method: "POST",
            url: '/expense/remove',
            data : {id : ids}
        }).done(function(msg){
          if(msg.status == "ok") {
            alert('Rekordy zostały skasowane');
            $("#criteria_form").submit();
          }
        });

        //make ajax request with ids to delete records then
        //refresh the table
        //$("#criteria_form").submit();
      });
    });
  </script>
	<div id="create_new">
		<h2>Create expense</h2>
		<form id="create_expense">
			Purchase date: <input type="text" name="create_purchase_date" id="datepicker3"><br />
			Description: <input type="text" id="create_description" name="create_description"><br />
			Weight: <input type="text" id="create_weight" name="create_weight"><br />
			Price: <input type="text" id="create_price" name="create_price"><br />
			Quantity: <input type="text" id="create_quantity" name="create_quantity"><br />
			Comment: <input type="text" id="create_comment" name="create_comment"><br />
			Start type product's name: <input type="create_product" name="create_product" id="create_product">
			<select id="select_product">
				<option value="0">Create new</option>
				{% for product in products %}
					<option value="{{ product.id }}">{{ product.name }}</option>
				{% endfor %}
			</select><br />
			Start type type expense: <input type="create_type_expense" name="create_type_expense" id="create_type_expense">
			<select id="select_type_expense">
				<option value="0">Create new</option>
				{% for type in expenseType %}
					<option value="{{ type.id }}">{{ type.name }}</option>
				{% endfor %}
			</select><br />
			Start type payment method: <input type="create_payment_method" name="create_payment_method" id="create_payment_method">
			<select id="select_payment_method">
				<option value="0">Create new</option>
				{% for payment in paymentMethod %}
					<option value="{{ payment.id }}">{{ payment.name }}</option>
				{% endfor %}
			</select><br />
			Start type expense category: <input type="create_expense_category" name="create_expense_category" id="create_expense_category">
			<select id="select_expense_category">
				<option value="0">Create new</option>
				{% for expenseCat in expenseCategory %}
					<option value="{{ expenseCat.id }}">{{ expenseCat.name }}</option>
				{% endfor %}
			</select><br />
			Start type purchase place: <input type="create_purchase_place" name="create_purchase_place" id="create_purchase_place">
			<select id="select_purchase_place">
				<option value="0">Create new</option>
				{% for place in purchasePlace %}
					<option value="{{ place.id }}">{{ place.name }}</option>
				{% endfor %}
			</select><br />
      Same shoppping? <input type="checkbox" name="same_shopping" value="1" id="same_shopping" checked><br />
      <input type="submit" name="Create" value="Create">
		</form>
    <div id="create_result_area"></div>
	</div>
  <script>
    function searchElementbyAjax(elementName, searchUrl) {
      var selectElement = "#select_" + elementName;
      var createElement = "#create_" + elementName;
      var element_list = $(selectElement).html();
      $(createElement).keypress(function(){
        var element_string_name = $(createElement).val();
        if(element_string_name.length > 1) {
          $.ajax({
  					  method: "POST",
  					  url: searchUrl,
  					  data : {name : $(createElement).val()}
  				}).done(function(msg){
  					if(msg.status == "ok") {
  						var results = msg.content;
  						$(selectElement).empty();
  						$( '<option value="0">Create new</option>' ).appendTo( selectElement );
  						for(var i = 0; i < results.length; i++) {
  							var id = results[i].id;
  							var resultName = results[i].name;
  							$( '<option value="' + id + '">' + resultName + '</option>' ).appendTo( selectElement );
  						}
  					}
  				});
        }
      });
      $(selectElement).change(function(){
  			$(createElement).val($(selectElement + ' option:selected').text());
  		});
  		$(createElement).on('input', function(){
  			if($(createElement).val() == "") {
            //TODO take list from server. Don't waste browser memory? Check what would be faster.
  					$(selectElement).html(element_list);
  			}
  		});
    }
    searchElementbyAjax('product', '/product/search');
    searchElementbyAjax('payment_method', '/payment/search');
    searchElementbyAjax('purchase_place', '/place/search');
    searchElementbyAjax('expense_category', '/expensecategory/search');
    searchElementbyAjax('type_expense', '/expensetype/search');
  </script>

  <script>

    function checkAndCreateItem(itemType, itemUrlPart, itemName, data) {
      var showUrl = "/" + itemUrlPart + "/showbyname";
      var addUrl = "/" + itemUrlPart + "/add";
      var fieldId = itemType + "_id";
      $.ajax({
        method: "POST",
        url: showUrl,
        data: {name: itemName}
      })
      .done(function( msg ) {
        if(msg.status == "ok") {
          var results = msg.content;
          if(results.length > 0) {
            data[fieldId] = results[0].id;
          } else {
            $.ajax({
              method: "POST",
              url: addUrl,
              data: {name: itemName}
            })
            .done(function( msg ) {
              if(msg.status == "ok") {
                data[fieldId] = msg.id;
              } else {
                $("#create_result_area").empty();
                $("#create_result_area").text("Error. Can't create " + itemType);
                return;
              }
            });
          }
        }
      });
    }

    $("#create_expense").submit(function(e){
      e.preventDefault();
      var data = {};
  		if($("#datepicker3").val() != "") {
        //TODO validation, field required
  			data.date = $("#datepicker3").val();
  		}
  		if($("#create_description").val() != "") {
        //TODO validation
  			data.description = $("#create_description").val();
  		}
  		if($("#create_weight").val() != "") {
        //TODO validation
  			data.weight = $("#create_weight").val();
  		}
  		if($("#create_price").val() != "") {
        //TODO validation, field required
  			data.price = $("#create_price").val();
  		}
  		if($("#create_quantity").val() != "") {
        //TODO validation, field required
  			data.quantity = $("#create_quantity").val();
  		}
  		if($("#create_comment").val() != "") {
        //TODO validation
  			data.comment = $("#create_comment").val();
  		}
      if($("#select_product").val() == 0) {
        var productName = $("#create_product").val();
        checkAndCreateItem('product', 'product', productName, data);
      } else {
        data.product_id = $("#select_product").val();
      }
      if($("#select_type_expense").val() == 0) {
        var name = $("#create_type_expense").val();
        checkAndCreateItem('type_of_expense', 'expensetype', name, data);
      } else {
        data.type_of_expense_id = $("#select_type_expense").val();
      }
      if($("#select_payment_method").val() == 0) {
        var name = $("#create_payment_method").val();
        checkAndCreateItem('payment_method', 'payment', name, data);
      } else {
        data.payment_method_id = $("#select_payment_method").val();
      }
      if($("#select_expense_category").val() == 0) {
        var name = $("#create_expense_category").val();
        checkAndCreateItem('category_of_expense', 'expensecategory', name, data);
      } else {
        data.category_of_expense_id = $("#select_expense_category").val();
      }
      if($("#select_purchase_place").val() == 0) {
        var name = $("#create_purchase_place").val();
        checkAndCreateItem('place', 'purchase/place', name, data);
      } else {
        data.place_id = $("#select_purchase_place").val();
      }
      var ajaxStopExecuted = false;
      $( document ).ajaxStop(function() {
        if(!ajaxStopExecuted) {
          ajaxStopExecuted = true;
          $.ajax({
      		  method: "POST",
      		  url: "/expense/add",
      		  data
      		})
      		.done(function( msg ) {
            $("#create_result_area").empty();
            if(msg.status == "ok") {
              $("#create_result_area").empty();
              $("#create_result_area").text("Expense was added to database");
              if($('#same_shopping').attr('checked')) {
                //TODO clear some fields and reset selects
              } else {
                //TODO clear all fields and reset selects
              }
            } else if(msg.status == "error") {
              $("#create_result_area").empty();
              $("#create_result_area").text(msg.message);
            }
          });
        }
      });

    });
  </script>
  </body>
</html>
