{% extends 'base.html.twig' %}

{% block title %}Expense application - Main Menu{% endblock %}

{% block body %}
  <h2>Main Menu</h2>
  <ul>
    <li><a href="{{ path('expense_view') }}">Your expenses</a></li>
    <li><a href="{{path('product_view')}}">Your products</a></li>
    <li><a href="{{path('expensetype_view')}}">Your type of expenses</a></li>
    <li><a href="{{path('payment_view')}}">Your payment methods</a></li>
    <li><a href="{{path('expensecategory_view')}}">Your category of expense</a></li>
    <li><a href="{{path('place_view')}}">Your places</a></li>
  </ul>
{% endblock %}
